*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  background: #020617;
background-repeat: no-repeat;
  background-attachment: fixed;   /* optional, for a nice “stuck” background effect */
  background-size: cover;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.projectHeaderSection {
  background: #020617;
  padding: 3rem 0rem;
  display: flex;
}

.projectHeader {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  margin: 10% 0% 0% 0%;
  opacity: 0;
}

.projectHeader-Active {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  margin: 10% 0% 0% 10%;
  transition: 0.7s ease;
  opacity: 1;
}

.projectBody {
  background: #1f2438;
  color: #fff;
  width: 100%;
  padding: 6% 8%;
  text-align: left;
  opacity: 0;
}

.projectBody-Active {
  background: #1f2438;
  width: 100%;
  padding: 6% 8%;
  text-align: left;
  opacity: 1;
  transition: 0.7s ease;
}

.projectBody-Active a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  padding: 0.7rem 2.5rem;
  transition: 0.35s ease;
}

.projectBody-Active a:hover {
  color: #020617;
  background: #fff;
}


.projectBody-Active h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #f97316;
}

.projectBody-Active p {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}

.questions {
  background: #fff;
  width: 100%;
  padding: 6%;
  text-align: center;
  color: #020617;
  font-size: 3rem;
}

.questions a {
  text-decoration: none;
  color: #020617;
  font-size: 1.9rem;
  font-weight: 600;
  border: 2px solid #020617;
  border-radius: 1.5rem;
  padding: 1.8rem 3.5rem;
  transition: 0.35s ease;
}

.questions a:hover {
  color: #fff;
  background: #020617;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.logo span {
  color: #0474bc;
}

#links {
  display: grid;
  justify-content: left;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 2.5em;
  font-family: "Open Sans", sans-serif;
}

#links a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #020617;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Color change */
#links a:hover {
  color: #6D98E3;
  
}

/* Underline bar (collapsed in center by default) */
#links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background: #6D98E3;
  transition: width 0.35s ease;
  box-shadow: 0 2px 4px rgba(4, 116, 188, 0.4);
  border-radius: 2px;
}

/* Expand underline outward from center */
#links a:hover::after {
  width: 100%;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #020617;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #6D98E3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Open Sans", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
}

/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

@media (max-width: 768px){
#navbar {
    padding: 0 16px;   /* was 40px */
    grid-gap: 1rem;
  }

.projectHeader-Active {
  margin: 10% auto;
  font-size: 3rem;
}

.projectHeader {
  font-size: 3rem;
  margin: 10% auto;
}

table,
  tr,
  td {
    display: block;
    width: 100% !important;
  }

  tr {
    margin-bottom: 1.5rem;
  }

  td {
    padding: 10px 0;
  }
}

.sidenav {
  max-width: 100vw;
}
